.beginCont {
  width: 175px;
  height: 46px;
  padding: 13px 12px;
  margin-right: 36px;
  margin-left: 5px;
  border-radius: 30px;
  border: 2px solid rgba(175, 175, 175, 0.55);
}
.dateText {
  line-height: 16px;
  font-weight: 500;
  font-size: 18px;
}
/* calendar */
.calendarContainer {
  position: relative;
  width: 29px;
  height: 31px;
  padding: 0 0 3px 0;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
}
.calendarBtn {
  position: relative;
  width: 27px;
  height: 25px;
  padding: 0 5px 3px 0;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(172, 172, 172, 0.3);
  }
  &:active {
    background-color: rgba(140, 140, 140, 0.3) !important;
  }
}
.calendarBtnImage {
  position: absolute;
  top: -4px;
  left: 0;
}
.customCalendar {
  position: absolute !important;
  top: 50px;
  left: -104px;
}
/* -------- */

@media (max-width: 1400px) {
  .beginCont {
    width: 140px;
    height: 35px;
    margin-right: 20px;
  }
  .dateText {
    line-height: 5px;
    font-size: 14px;
  }
  .calendarContainer {
    width: 22px;
    height: 23px;
    margin: 0;
  }
  .calendarBtn {
    width: 22px;
    height: 19px;
  }
  .calendarBtnImage {
    width: 22px;
  }
}
@media (max-width: 1200px) {
  .dateText {
    display: none;
  }
  .beginCont {
    justify-content: center !important;
    width: 60px;
    padding: 7px;
  }
}
