.beginCont {
  width: 175px;
  height: 46px;
  padding: 13px 12px;
  margin-right: 36px;
  margin-left: 5px;
  border-radius: 30px;
  border: 2px solid rgba(175, 175, 175, 0.55);
}
.dateText {
  line-height: 16px;
  font-weight: 500;
  font-size: 18px;
}

/* calendar */
.calendarContainer {
  position: relative;
  width: 29px;
  height: 31px;
  padding: 0 0 3px 0;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.calendarBtn {
  position: relative;
  width: 27px;
  height: 25px;
  padding: 0 5px 3px 0;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(172, 172, 172, 0.3);
  }
  &:active {
    background-color: rgba(140, 140, 140, 0.3) !important;
  }
}
.calendarBtnImage {
  position: absolute;
  top: -4px;
  left: 0;
}
.customCalendar {
  position: absolute !important;
  top: 50px;
  left: -104px;
}
/* -------- */
