.block {
  position: relative;
}
.notifBtn {
  padding: 4px;
  border: none;
}
.exitBtn {
  padding: 4px 2px 4px 4px;
  border: none;
}
.notifications {
  position: absolute;
  top: 100px;
  left: -144%;
  row-gap: 10px;
  width: 720px;
  min-height: 250px;
  padding: 20px 10px;
  border-radius: 35px;
  background-color: #f2f2f2;
  z-index: 2;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
.notifClose {
  align-self: flex-end;
  z-index: 2;
}
.notification {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 2px solid #fdfdfb;
}
.notifTime {
  align-self: flex-end;
}
.container {
  padding: 15px 59px;
  border-bottom: 1px solid #afafaf;
}
.logo {
  width: 106px;
  height: 75px;
}
.avatar {
  width: 69px;
  height: 69px;
  border-radius: 50%;
}
.descr {
  font-weight: 500;

  &:first-of-type {
    font-size: 20px;
  }
  &:last-of-type {
    font-size: 14px;
    color: #f48104;
  }
}
