.inputTitle {
  outline: none;
  width: 480px;
  min-height: 35px;
  max-height: 70px;
  margin-bottom: 17px;
  border: none;
  background-color: transparent;
  color: #414141;
  font-weight: 600;
  font-size: 20px;

  &:focus-visible {
    outline: none;
    border: none;
  }
}
.imputPriceContainer {
  color: #f48104;
  font-weight: 700;
  font-size: 24px;
}
.imputPrice {
  outline: none;
  margin-bottom: 52px;
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;

  &:focus-visible {
    outline: none;
    border: none;
  }
}
.imputPrice[type='number']::-webkit-inner-spin-button,
.imputPrice[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.description {
  outline: none;
  width: 100%;
  max-height: 217px;
  padding: 17px 14px 10px 15px;
  border-radius: 35px;
  border: none;
  background-color: rgba(217, 217, 217, 0.2);
  color: #414141;
  font-weight: 600;
  font-size: 20px;
}
.inputDescr {
  outline: none;
  margin-top: 10px;
  width: 454px;
  min-height: 75px;
  max-height: 141px;
  border: none;
  background-color: transparent;
  color: #414141;
  font-weight: 400;
  font-size: 18px;

  &:focus-visible {
    outline: none;
    border: none;
  }
}

@media (max-width: 1200px) {
  .inputTitle {
    margin-bottom: 10px;
  }
  .imputPrice {
    margin-bottom: 25px;
  }
  .inputDescr {
    max-height: 90px;
  }
}
@media (max-width: 1080px) {
  .inputTitle {
    width: 350px;
  }
  .inputDescr,
  .description {
    width: 350px;
  }
}
