.profileCard {
  width: calc(100% - 62px);
  height: 63px;
  padding: 13px 34px 13px 32px;
  border-radius: 20px;
  background-color: #f7f7f5;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
}
.image {
  margin-right: 53px;
}
.descr {
  margin-right: 110px;
  width: 380px;
}
