.mainInfo {
  row-gap: 27px;
  width: 1060px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 27px 51px;
  border-radius: 20px;
  background-color: #fdfdfb;
  z-index: 2;
  color: #414141;
}
.blur::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 1;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
}
.descr {
  font-weight: 700;
  font-size: 26px;
}
.exit {
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 31px;
}
.blockConfirmation {
  width: 100%;
  padding: 26px 0 0 45px;
  border-top: 1px solid #afafaf;
}
.result {
  color: #414141;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 24px;
}
.resultRub {
  color: #f48104;
  font-weight: 500;
  font-size: 22px;
}
.confirmationBtn {
  padding: 13px 57px;
  border-radius: 35px;
  border: none;
  background-color: #87c631;
  line-height: 28px;
  font-weight: 500;
  font-size: 24px;
}
