h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.reset-container {
  padding: 0 65px;
  margin: 0 auto;
}

.reset-header {
  padding: 15px 59px;
  border-bottom: 1px solid #afafaf;
}

.reset-btn {
  border-radius: 35px;
  border: 0px;
  font-weight: 500;
  background-color: #87c631;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
/* 
.header__btn {
  width: 159px;
  font-size: 24px;
}

.body {
  width: 832px;
  height: 720px;
  margin-top: 257px;
  margin-left: 65px;
  padding-bottom: 356px;
}

.body__title {
  font-weight: 700;
  font-size: 58px;
  color: #414141;
}

.body__descr {
  font-weight: 500;
  font-size: 32px;
  color: #414141;
}

.body__btn {
  width: 224px;
  font-size: 32px;
} */

/*Авторизация*/
/* .auth-body {
  width: 794px;
  background-color: #fff;
  padding: 99px 104px 90px;
}

.auth-body__title {
  margin-top: 60px;
  font-size: 48px;
  font-weight: 500;
  color: #414141;
}

.auth-body__input {
  height: 90px;
  width: 586px;
  padding: 35px 20px;
  border-radius: 100px;
  background: #f48104 !important;
  font-weight: 500;
  font-size: 24px;
  color: #fff !important;
  opacity: 0.85;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}

.auth-body__btn {
  width: 224px;
  padding: 12px 0;
  margin-top: 126px;
  font-size: 32px;
} */
/*-----------*/

/*Общий header*/
/* .general-header__title {
  font-weight: 500;
  font-size: 22px;
  color: #414141;
}

.general-header__text {
  border-radius: 100px;
  border: 2px solid #f5af61;
  font-weight: 400;
  font-size: 16px;
  color: #414141;
} */
/*------------*/

/*Страница админа*/
/* .admin-body {
  border-radius: 70px 70px 0 0;
  height: 690px;
}

.admin-body__container {
  padding-top: 110px;
  row-gap: 90px;
}

.admin-body__container-btn {
  height: 408px;
  width: 284px;
  padding: 47px 28px 28px;
  background-color: #fdfdfb;
  font-size: 24px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.1);
} */
/*---------------*/

/* ****toBurger**** */
.childBtn.burger .mainSpan span:nth-child(1) {
  animation: slideInFirst 0.5s ease forwards;
}
.childBtn.burger .mainSpan span:nth-child(2) {
  animation: slideInSecond 0.5s ease forwards;
}
.childBtn.burger .mainSpan span:nth-child(3) {
  animation: scaleWithBezier 0.5s cubic-bezier(0.23, -0.65, 0.44, 2.02) forwards;
}

@keyframes slideInFirst {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(16px);
    opacity: 1;
  }
  100% {
    transform: translateX(16px);
    opacity: 0;
  }
}
@keyframes slideInSecond {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(8px);
    opacity: 1;
  }
  100% {
    transform: translateX(8px);
    opacity: 0;
  }
}
@keyframes scaleWithBezier {
  0%,
  40% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-8px) scale(5, 1);
    opacity: 1;
  }
}
/* ****--------**** */

/* ****toChocolate**** */
.childBtn.chocolate .mainSpan span:nth-child(1) {
  animation: slideOutFirst 0.5s ease forwards;
}
.childBtn.chocolate .mainSpan span:nth-child(2) {
  animation: slideOutSecond 0.5s ease forwards;
}
.childBtn.chocolate .mainSpan span:nth-child(3) {
  animation: scaleWithBezierOut 0.5s cubic-bezier(0.23, -0.65, 0.45, 1.16)
    forwards;
}

@keyframes slideOutFirst {
  0% {
    transform: translateX(16px);
    opacity: 0;
  }
  25% {
    transform: translateX(16px);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutSecond {
  0% {
    transform: translateX(8px);
    opacity: 0;
  }
  42% {
    transform: translateX(8px);
    opacity: 1;
  }
  49% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scaleWithBezierOut {
  0% {
    transform: translateX(-8px) scale(5, 1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1, 1);
    opacity: 1;
  }
}
/* ****-----------**** */

/*Кастомный input файла*/
.input__user-img {
  width: 195px;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.input__file {
  display: none;
}
.input__uploadbtn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  height: 40px;
  width: 40px;
  padding: 6px 6px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  background-color: rgba(173, 172, 172, 0.8);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}
/*---------------------*/

/*Особая кнопка""*/
.cpecial-btn {
  background-color: #f48104;
}
/*---------------*/

/*Карточка ребёнка*/
.children-card {
  position: relative;
  width: 491px;
  padding: 16px 32px 16px 26px;
  border-radius: 20px;
  background-color: #f7f7f5;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}

.children-card__dropdown-groups {
  width: 263px;
  border-radius: 35px;
  border: 2px solid rgba(175, 175, 175, 0.55);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(65, 65, 65, 0.5);
  font-weight: 400;
  font-size: 16px;
}

.add {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
/*----------------*/
