.container {
  /* max-width: 1920px; */
  padding: 0 65px;
  margin: 0 auto;
}
.previewSection {
  position: relative;
  width: 100%;
  column-gap: 75px;
}
/* dropDown */
.dropTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 325px;
  height: 46px;
  padding: 15px 24px 15px 75px;
  /* margin-right: 40px; */
  border-radius: 40px;
  border: none;
  background-image: url('../../../assets/parent/ico-searchChild.png');
  background-repeat: no-repeat;
  background-position: 35px center;
  background-color: #87c631;
  color: rgb(25%, 25%, 25%, 0.5);
  line-height: 16px;
  font-weight: 400;
  font-size: 16px;
}
.dropMenu {
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.dropSelElem {
  background-color: #198754 !important;
  color: #fff !important;
  &:hover {
    background-color: #198754 !important;
  }
}
.dropSimpleElem {
  &:hover {
    color: #000;
    background-color: #f8f9fa;
  }
  &:active {
    color: #000;
    background-color: #f8f9fa;
  }
}
/* -------- */

/* calendar */
.calendarContainer {
  position: relative;
  width: 44px;
  height: 43px;
  padding: 0 0 3px 0;
  margin-right: 148px;
  border-radius: 8px;
  border: none;
}

.calendarBtn {
  position: relative;
  width: 44px;
  height: 43px;
  padding: 0 0 3px 0;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(172, 172, 172, 0.5);
  }
  &:active {
    background-color: rgba(140, 140, 140, 0.5) !important;
  }
}
.calendarBtnImage {
  position: absolute;
  top: -4px;
  left: 0;
}
.customCalendar {
  position: absolute !important;
  top: 50px;
  left: -94px;
  z-index: 1;
}
/* -------- */

.infoBlock {
  width: 1110px;
  min-height: 140px;
  margin-top: 100px;
}
.savePdf {
  margin-top: 50px;
  border-radius: 35px;
}

@media (max-width: 1200px) {
  .previewSection {
    column-gap: 50px;
  }
  .dropTitle {
    width: 235px;
    padding: 15px 24px 15px 50px;
    background-position: 20px center;
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
  }
  .dropMenu {
    width: 235px;
  }
  .calendarContainer {
    margin-right: 75px;
  }
  .infoBlock {
    width: 99%;
    margin-top: 50px;
  }
}
@media (max-width: 1080px) {
  .previewSection {
    column-gap: 30px;
  }
  .dropTitle {
    width: 222px;
  }
  .dropMenu {
    width: 222px;
  }
}
