.adminBody {
  height: 690px;
  border-radius: 70px 70px 0 0;
  background: url('../../assets/bgProfile.png') no-repeat center center;
}
.admiContainer {
  padding-top: 110px;
  row-gap: 90px;
}
.mainBtn {
  width: 100%;
  flex: wrap;
}
