.profileCard {
  width: calc(100% - 62px);
  height: 105px;
  padding: 13px 25px 13px 45px;
  border-radius: 20px;
  background-color: #f7f7f5;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
}
.groupInfoImg {
  margin-right: 67px;
}
.groupInfoText {
  width: 451px;
  margin-right: 83px;
}
