.workGroupsTitle {
  margin: 47px 0 43px 0;
}
.exit {
  height: 46px;
  width: 200px;
  margin-right: 438px;
  background-color: #f48104;
  font-weight: 400;
  font-size: 20px;
}
.mainBtn {
  width: 200px;
  height: 46px;
  border-radius: 35px;
  background-color: #fdfdfb;
  font-weight: 400;
  font-size: 20px;
}
