.header {
  padding: 0 65px;
  margin: 0 auto;
}
.infoBlock {
  margin: 40px 40px 0;
  padding: 0 80px 0 68px;
}
.inputTitle {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 22px;
  color: #414141;
}
.inputText {
  width: 579px;
  height: 46px;
  margin-bottom: 29px;
  border-radius: 100px;
  border: 2px solid #f5af61;
  font-weight: 400;
  font-size: 16px;
  color: #414141;
}
.groupText {
  width: 350px;
  height: 46px;
  padding: 12px 5px 12px 36px;
  border-radius: 100px;
  border: 2px solid #f5af61;
  font-weight: 400;
  font-size: 16px;
  color: #414141;
}
.adminBody {
  height: 690px;
  padding: 0 67px;
  border-radius: 70px 70px 0 0;
  background: url('../../../assets/bgProfile.png') no-repeat center center;
}
