.profileCard {
  width: calc(100% - 62px);
  height: 105px;
  padding: 40px 75px 35px 80px;
  border-radius: 20px;
  background-color: #f7f7f5;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
}
.dateContainer {
  column-gap: 65px;
}
.groupInfoImg {
  margin-right: 67px;
}
.groupInfoText {
  width: 200px;
}
.groupInfoInput {
  width: 308px;
  margin-right: 220px;
  padding: 13px 10px 13px 20px;
  border-radius: 35px;
  border: 2px solid rgba(175, 175, 175, 0.55);
  color: #afafaf;
  font-weight: 500;
  font-size: 16px;
}
