.workerBody {
  height: 690px;
  padding-top: 110px;
  border-radius: 70px 70px 0 0;
  background: url('../../assets/bgProfile.png') no-repeat center center;
}
.mainBtn {
  width: 100%;
  flex-wrap: wrap;
}
