.container {
  max-width: 1920px;
  margin: 0 auto;
  background: url('../../assets/auth/bgAuth.png') no-repeat center center;
  background-color: #f48104;
}
.authBody {
  width: 794px;
  padding: 101px 104px 100px;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
.authImg {
  border-radius: 50%;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
.authTitle {
  margin-top: 60px;
  font-size: 48px;
  font-weight: 500;
  color: #414141;
}
.authInput {
  height: 90px;
  width: 586px;
  padding: 35px 20px;
  margin-top: 60px;
  border-radius: 100px;
  background: #f48104 !important;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
  color: #fff !important;
  font-weight: 500;
  font-size: 24px;
}
.authBtn {
  width: 224px;
  padding: 12px 0;
  margin-top: 126px;
  font-size: 32px;
}

@media (max-width: 1080px) {
  .container {
    display: flex;
    justify-content: center;
    background-image: url('../../assets/auth/bgAuth_1080.png');
    background-position: -103px center;
  }
  .authBody {
    width: 85%;
  }
}

@media (max-width: 876px) {
  .container {
    display: block;
    background: none;
  }
  .authBody {
    width: 100%;
  }
}
