.mainBody {
  width: 832px;
  height: 720px;
  margin-top: 257px;
  margin-left: 65px;
  padding-bottom: 356px;
}
.bodyTitle {
  font-weight: 700;
  font-size: 58px;
  color: #414141;
}
.bodyDescr {
  font-weight: 500;
  font-size: 32px;
  color: #414141;
}
.headerBtn {
  width: 159px;
  font-size: 24px;
}
.bodyBtn {
  width: 224px;
  font-size: 32px;
}
