.container {
  max-width: 1920px;
  height: 1080px;
  padding: 0 65px;
  margin: 0 auto;
  background: url('../../assets/main/bgMain.png') no-repeat center center;
}
.header {
  padding: 15px 59px;
  border-bottom: 1px solid #afafaf;
}
.infoBlock {
  width: 100%;
  height: calc(100% - 106px);
  padding-left: 65px;
}
.mainBody {
  width: 48%;
  /* width: 832px; */
}
.bodyTitle {
  font-weight: 700;
  font-size: 58px;
  color: #414141;

  & span {
    color: #f48104;
  }
}
.bodyDescr {
  font-weight: 500;
  font-size: 32px;
  color: #414141;
}
.headerBtn {
  width: 159px;
  font-size: 24px;
}
.bodyBtn {
  width: 224px;
  font-size: 32px;
}
