.container {
  max-width: 1920px;
  padding: 0 65px;
  margin: 0 auto;
}
.previewSection {
  position: relative;
  width: 100%;
}
.workGroupsTitle {
  margin: 47px 0 43px 0;
}
.infoBlock {
  width: 1400px;
}

@media (max-width: 1600px) {
  .infoBlock {
    width: 100%;
  }
}
