/* .exit {
  height: 46px;
  width: 200px;
  margin: 36px 0 23px 0;
  background-color: #f48104;
  font-weight: 400;
  font-size: 20px;
} */
.menuTitle {
  color: #414141;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 25px;
}
.mainBtn {
  width: 200px;
  height: 46px;
  border-radius: 35px;
  background-color: #fdfdfb;
  font-weight: 400;
  font-size: 20px;
}
.workGroupsTitle {
  margin: 47px 0 43px 0;
}
.exit {
  height: 46px;
  width: 200px;
  margin-right: 575px;
  background-color: #f48104;
  font-weight: 400;
  font-size: 20px;
}
