.container {
  padding: 0 65px;
  margin: 0 auto;
}
.previewSection {
  width: 100%;
}
/* dropDown */
.dropTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 350px;
  height: 46px;
  padding: 15px 24px 15px 63px;
  margin-right: 40px;
  border-radius: 40px;
  background: url('../../../assets/parent/ico-searchChild.png') no-repeat 28px
    center;
  color: rgb(25%, 25%, 25%, 0.5);
  line-height: 16px;
  font-weight: 400;
  font-size: 16px;
}
.dropMenu {
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
}
.dropSelElem {
  background-color: #198754 !important;
  color: #fff !important;
  &:hover {
    background-color: #198754 !important;
  }
}
.dropSimpleElem {
  &:hover {
    color: #000;
    background-color: #f8f9fa;
  }
  &:active {
    color: #000;
    background-color: #f8f9fa;
  }
}
/* -------- */

/* mainBtn */
.mainBtn {
  width: 200px;
  height: 46px;
  margin-right: 15px;
  border-radius: 35px;
  background-color: #fdfdfb;
  font-weight: 400;
  font-size: 20px;

  &:nth-last-child(3) {
    margin-right: 50px;
  }
}

/* ------- */

/* calendar */
.calendarContainer {
  position: relative;
  width: 44px;
  height: 43px;
  padding: 0 0 3px 0;
  margin-right: 148px;
  border-radius: 8px;
  border: none;
}

.calendarBtn {
  position: relative;
  width: 44px;
  height: 43px;
  padding: 0 0 3px 0;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(172, 172, 172, 0.5);
  }
  &:active {
    background-color: rgba(140, 140, 140, 0.5) !important;
  }
}
.calendarBtnImage {
  position: absolute;
  top: -4px;
  left: 0;
}
.customCalendar {
  position: absolute !important;
  top: 50px;
  left: -94px;
}
/* -------- */

.createOrderBtn {
  width: 278px;
  height: 46px;
  padding: 15px 43px;
  border-radius: 35px;
  background-color: #fdfdfb;
  line-height: 14px;
  font-weight: 400;
  font-size: 20px;
}
.dishesContainer {
  margin-top: 45px;
}
.menuTitle {
  color: #414141;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 25px;
}
.dishes {
  width: 1657px;
}
