.container {
  position: relative;
  column-gap: 26px;
  width: calc(50% - 62px);
  height: 215px;
  padding: 16px 50px 16px 26px;
  border-radius: 20px;
  background-color: #f7f7f5;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
.infoBlock {
  flex-direction: column;
  row-gap: 23px;
  height: 140px;
  padding: 14px 70px 17px 18px;
  border-left: 1px solid #d9d9d9;
}
.info {
  display: flex;
  flex-direction: column;
}
