.header {
  padding: 0 65px;
  margin: 0 auto;
}
.infoBlock {
  margin: 40px 40px 0;
  padding: 0 80px 0 68px;
}
.adminBody {
  height: 690px;
  border-radius: 70px 70px 0 0;
  padding: 0 67px;
  background: url('../../../assets/bgProfile.png') no-repeat center center;
}
.admiContainer {
  padding: 36px 60px 0 38px;
  row-gap: 90px;
}
.childTitle {
  margin-left: 30px;
  color: #fdfdfb;
  font-weight: 500;
  font-size: 36px;
}
.childContainer {
  width: 100%;
  gap: 60px;
  flex-wrap: wrap;
}

.specialBtn {
  width: 396px;
  height: 46px;
  border-radius: 35px;
  border: none;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
  background-color: #87c631;
  font-weight: 500;
  font-size: 24px;
}
