.inputTitle {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 22px;
  color: #414141;
}
.inputText {
  width: 579px;
  height: 46px;
  padding: 2px 10px;
  margin-bottom: 29px;
  border-radius: 100px;
  border: 2px solid #f5af61;
  font-weight: 400;
  font-size: 16px;
  color: #414141;
}
.groupText {
  width: 350px;
  height: 46px;
  padding: 12px 5px 12px 36px;
  border-radius: 100px;
  border: 2px solid #f5af61;
  font-weight: 400;
  font-size: 16px;
  color: #414141;
}
.adminBody {
  border-radius: 70px 70px 0 0;
  height: 690px;
}
.admiContainer {
  padding: 36px 60px 0 38px;
  row-gap: 90px;
}
.childTitle {
  margin-left: 30px;
  color: #fdfdfb;
  font-weight: 500;
  font-size: 36px;
}
.btnContainer {
  cursor: pointer;
  border-radius: 20px;
  width: 215px;
  height: 215px;
  background-color: #f7f7f5;
}
.addBtn {
  border-radius: 50%;
  width: 182px;
  height: 182px;
  background-color: #d9d9d9;
}
